body {
  margin: 0;
}

.App {
  font-family: "Maitree", serif;
  text-align: center;
  color: blueviolet;
}

h1 {
  margin-bottom: 0;
}


/* Navbar */
a {
  text-decoration: none;
  color: white;
}

.navbar {
  background: blueviolet;
  padding: 20px;
  color: white;
}


/* NotFound */
.centered-image {
  max-width: 80%;
  max-height: 80%;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

/* Ajustar el tamaño de la tarjeta */
.card {
  width: 200px; /* Ancho deseado para la tarjeta */
  height: 200px; /* Altura deseada para la tarjeta */
}

/* Estilo para la imagen dentro de la tarjeta */
.card-img-top {
  width: 100%; /* Ajustar la imagen al tamaño de la tarjeta */
  height: 100%; /* Ajustar la imagen al tamaño de la tarjeta */
  object-fit: cover; /* Cubrir toda la área de la imagen */
}

/* Estilo para el texto dentro de la tarjeta */
.card-body {
  background-color: #343a40; /* Color de fondo oscuro */
}

.card-text {
  color: white; /* Color del texto */
  font-size: 18px; /* Tamaño de fuente del texto */
  text-align: start;
}
